<h1>Teste fullstack</h1>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/usuario" routerLinkActive="active">Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/item" routerLinkActive="active">Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/carrinho" routerLinkActive="active">Carrinho de Compras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/lista" routerLinkActive="active">Compras efetuadas</a>
    </li>
  </ul>

<router-outlet></router-outlet>